body{
    background: linear-gradient(to top right, rgb(214, 86, 157), rgb(80, 23, 82));
    height: 100vh;
    text-align: center;
    font-size: 1.5rem;
}

input, button{
    background-color: white;
    color: black;
    font-size: 1.5rem;
    border: 16px;
    border-radius: 16px;
}
